In [43]:
import pandas as pd

In [44]:
#data = pd.read_csv("datasets/dataset_caption.csv")
data = pd.read_csv("datasets2/dataset_caption.csv")
data.head()

     id   rotulo                                              texto
0    53    FALSO  i have a possessed pepper plant every third or...
1  1136  VERDADE  how melting plastic waste could heat homes res...
2   695    FALSO  bill the butcher daniel daylewis takes a young...
3  3312  VERDADE  alan marsh an australian chook farmer successf...
4  1314  VERDADE  human eggs with potential to become fertilised...

## Tramanto para começar a extração do texto

In [45]:
df = data[['id', 'texto', 'rotulo']].copy()
df.head()

     id                                              texto   rotulo
0    53  i have a possessed pepper plant every third or...    FALSO
1  1136  how melting plastic waste could heat homes res...  VERDADE
2   695  bill the butcher daniel daylewis takes a young...    FALSO
3  3312  alan marsh an australian chook farmer successf...  VERDADE
4  1314  human eggs with potential to become fertilised...  VERDADE

In [46]:
#replace($TEXTO_ORIG$,". ." ,". " )
#Remove acentuação errada
df["texto"] = df["texto"].apply(lambda x: x.replace(". .", ". "))
len(df.index)

992

## Contagem no Texto

In [47]:
from nltk import tokenize    
import re
from collections import Counter
from nltk.corpus import stopwords
from string import punctuation

def count_letters(text):
    nonPunct = re.compile('.*[A-Za-z0-9].*')
    filtered = [w for w in text if nonPunct.match(w)]
    counts = Counter(filtered)
    
    return len(counts)

def count_words(text):
    stop_words = set(stopwords.words('english') + list(punctuation))
    palavras = tokenize.word_tokenize(text.lower())
    palavras_sem_stopwords = [palavra for palavra in palavras if palavra not in stop_words]
    
    return len(palavras_sem_stopwords)

def count_upper_letters(text):
    uppers = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    nonPunct = re.compile('.*[A-Za-z0-9].*')
    filtered = [w for w in text if nonPunct.match(w) and w in uppers]
    counts = Counter(filtered)
    
    return len(counts)

def count_exclamation(text):
    uppers = "!"
    nonPunct = re.compile('.*[A-Za-z0-9].*')
    filtered = [w for w in text if nonPunct.match(w) and w in uppers]
    counts = Counter(filtered)
    
    return len(counts)

def count_quote(text):
    quote = "\""
    nonPunct = re.compile('.*[A-Za-z0-9].*')
    filtered = [w for w in text if nonPunct.match(w) and w in quote]
    counts = Counter(filtered)
    
    return len(counts)
    
    
df['PALAVRAS'] = 0.0
df['LETRAS'] = 0.0
df['MAIUSCULAS'] = 0.0
df['EXCLAMA'] = 0.0
df['ASPAS'] = 0.0
    
for (index, row) in df.iterrows():
    #print("words: ",count_words(row['texto'])) 
    #print("letters: ",count_letters(row['texto']))
    df.at[index,'PALAVRAS'] = count_words(row['texto'])
    df.at[index,'LETRAS'] = count_letters(row['texto'])
    df.at[index,'MAIUSCULAS'] = count_upper_letters(row['texto']) / count_letters(row['texto'])
    df.at[index,'EXCLAMA'] = count_exclamation(row['texto'])
    df.at[index,'ASPAS'] = count_quote(row['texto']) / count_letters(row['texto'])

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS
0,53,i have a possessed pepper plant every third or...,FALSO,31.0,22.0,0.0,0.0,0.0
1,1136,how melting plastic waste could heat homes res...,VERDADE,34.0,22.0,0.0,0.0,0.0
2,695,bill the butcher daniel daylewis takes a young...,FALSO,13.0,21.0,0.0,0.0,0.0
3,3312,alan marsh an australian chook farmer successf...,VERDADE,30.0,23.0,0.0,0.0,0.0
4,1314,human eggs with potential to become fertilised...,VERDADE,28.0,22.0,0.0,0.0,0.0

## Extração de Polaridade

In [48]:
sentilexpt = open("lexicos/sentilex-EN.txt","r")
dic_palavra_polaridade = {}

for i in sentilexpt.readlines():
    linha = i.strip()
    pos_ponto = linha.find(" ")
    palavra = (linha[:pos_ponto])
    polaridade = (linha[pos_ponto+1:pos_ponto+2])
    val_pol = 0;
    if polaridade == '+':
        val_pol = 1
    elif polaridade == '-':
        val_pol = -1
    else:
        val_pol = 0
    #print(linha, polaridade, val_pol )    
    dic_palavra_polaridade[palavra] = val_pol
    

def score_sentimento(frase):
    frase = frase.lower()
    l_sentimento = []
    for p in frase.split():
        l_sentimento.append(int(dic_palavra_polaridade.get(p, 0)))
    score = sum(l_sentimento)
    if score > 0:
        return '1', score
    elif score == 0:
        return '0', score
    else:
        return '0', score

df['Score_Pol'] = 0.0 
df['POL'] = "" 

for (index, row) in df.iterrows():
    pol, score = score_sentimento(row['texto'])
    df.at[index,'Score_Pol'] = score
    df.at[index,'POL'] = pol

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL
0,53,i have a possessed pepper plant every third or...,FALSO,31.0,22.0,0.0,0.0,0.0,-14.0,Negativo
1,1136,how melting plastic waste could heat homes res...,VERDADE,34.0,22.0,0.0,0.0,0.0,-4.0,Negativo
2,695,bill the butcher daniel daylewis takes a young...,FALSO,13.0,21.0,0.0,0.0,0.0,-3.0,Negativo
3,3312,alan marsh an australian chook farmer successf...,VERDADE,30.0,23.0,0.0,0.0,0.0,-5.0,Negativo
4,1314,human eggs with potential to become fertilised...,VERDADE,28.0,22.0,0.0,0.0,0.0,-6.0,Negativo

## Normalizando os Valores de Polaridade

In [49]:
#from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

dfn =  df[['Score_Pol']].copy()
names = dfn.columns

scaler = MinMaxScaler().fit(dfn)
#scaler = StandardScaler().fit(dfn)
dfn = scaler.transform(dfn)
dfn = pd.DataFrame(dfn, columns= names)  

df["POL_ABSOLUTO"] = dfn['Score_Pol']

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,POL_ABSOLUTO
0,53,i have a possessed pepper plant every third or...,FALSO,31.0,22.0,0.0,0.0,0.0,-14.0,Negativo,0.526316
1,1136,how melting plastic waste could heat homes res...,VERDADE,34.0,22.0,0.0,0.0,0.0,-4.0,Negativo,0.789474
2,695,bill the butcher daniel daylewis takes a young...,FALSO,13.0,21.0,0.0,0.0,0.0,-3.0,Negativo,0.815789
3,3312,alan marsh an australian chook farmer successf...,VERDADE,30.0,23.0,0.0,0.0,0.0,-5.0,Negativo,0.763158
4,1314,human eggs with potential to become fertilised...,VERDADE,28.0,22.0,0.0,0.0,0.0,-6.0,Negativo,0.736842

## Análise gramatical com LIWC 2015

In [50]:
import math
import time
from liwc import Liwc

def lexical_builder(df, dic_path, dic_fields):
    #Carrega a biblioteca do LIWC
    LIWC_FILEPATH = dic_path
    liwc = Liwc(LIWC_FILEPATH)

    colunas = "id,"   
    colunas += ','.join(liwc.categories.values())
    colunas = colunas.split(',')

    #Create empty table
    dfout = pd.DataFrame(columns=(colunas))

    result = []
    for index, row in df.iterrows():
        indice = row['id']
        news = str(row['texto']).lower()    
        emocoes = (liwc.parse(news.split(' ')))
        # Cria matriz esparsa
        avalia = dict.fromkeys(liwc.categories.values(),1 )
        for categ in liwc.categories:
            avalia[liwc.categories[categ]] = emocoes[liwc.categories[categ]] / row['LETRAS']
        temp = {"indice": indice}
        dest = {**temp, ** avalia}    
        result.append(dest)

    for dados in result:
        #print (dados.values())
        b = pd.DataFrame([dados.values()], columns=(colunas))
        dfout = dfout.append(b , ignore_index=True)

    dfout = dfout[dic_fields].copy()
    return dfout
    

dfgram = lexical_builder(df,
                         "lexicos/LIWC2015_en-utf8.dic",
                         ['id','pronoun','ppron','i','we','you','shehe','they','ipron','article','prep',
                          'auxverb','adverb','conj','negate','verb','adj','interrog'])
dfgram.head()

,id,pronoun,ppron,i,we,you,shehe,they,ipron,article,prep,auxverb,adverb,conj,negate,verb,adj,interrog
0,53,0.136364,0.136364,0.090909,0.0,0.0,0.000000,0.045455,0.000000,0.318182,0.136364,0.227273,0.090909,0.136364,0.045455,0.318182,0.272727,0.000000
1,1136,0.045455,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.045455,0.136364,0.272727,0.136364,0.045455,0.090909,0.045455,0.227273,0.045455,0.090909
2,695,0.047619,0.047619,0.000000,0.0,0.0,0.047619,0.000000,0.000000,0.095238,0.095238,0.000000,0.000000,0.000000,0.000000,0.047619,0.095238,0.000000
3,3312,0.086957,0.086957,0.000000,0.0,0.0,0.086957,0.000000,0.000000,0.173913,0.217391,0.086957,0.043478,0.043478,0.000000,0.217391,0.000000,0.000000
4,1314,0.045455,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.045455,0.000000,0.454545,0.272727,0.045455,0.000000,0.000000,0.272727,0.045455,0.045455

In [51]:
df = pd.merge(df, dfgram,  left_on='id', right_on='id')
df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,...,ipron,article,prep,auxverb,adverb,conj,negate,verb,adj,interrog
0,53,i have a possessed pepper plant every third or...,FALSO,31.0,22.0,0.0,0.0,0.0,-14.0,Negativo,...,0.000000,0.318182,0.136364,0.227273,0.090909,0.136364,0.045455,0.318182,0.272727,0.000000
1,1136,how melting plastic waste could heat homes res...,VERDADE,34.0,22.0,0.0,0.0,0.0,-4.0,Negativo,...,0.045455,0.136364,0.272727,0.136364,0.045455,0.090909,0.045455,0.227273,0.045455,0.090909
2,695,bill the butcher daniel daylewis takes a young...,FALSO,13.0,21.0,0.0,0.0,0.0,-3.0,Negativo,...,0.000000,0.095238,0.095238,0.000000,0.000000,0.000000,0.000000,0.047619,0.095238,0.000000
3,3312,alan marsh an australian chook farmer successf...,VERDADE,30.0,23.0,0.0,0.0,0.0,-5.0,Negativo,...,0.000000,0.173913,0.217391,0.086957,0.043478,0.043478,0.000000,0.217391,0.000000,0.000000
4,1314,human eggs with potential to become fertilised...,VERDADE,28.0,22.0,0.0,0.0,0.0,-6.0,Negativo,...,0.045455,0.000000,0.454545,0.272727,0.045455,0.000000,0.000000,0.272727,0.045455,0.045455

## Análise de Sentimentos Affect-BR

In [52]:

dfaffect = lexical_builder(df,
                         "lexicos/LIWC2015_en-utf8.dic",
                         ['id','affect','posemo','negemo','anx','anger','sad'])
dfaffect.head()

     id    affect    posemo    negemo       anx  anger  sad
0    53  0.181818  0.090909  0.090909  0.045455    0.0  0.0
1  1136  0.000000  0.000000  0.000000  0.000000    0.0  0.0
2   695  0.000000  0.000000  0.000000  0.000000    0.0  0.0
3  3312  0.043478  0.043478  0.000000  0.000000    0.0  0.0
4  1314  0.000000  0.000000  0.000000  0.000000    0.0  0.0

## Normalizando apenas para existencia do sentimento ou não.

In [53]:
df = pd.merge(df, dfaffect,  left_on='id', right_on='id')
df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,...,negate,verb,adj,interrog,affect,posemo,negemo,anx,anger,sad
0,53,i have a possessed pepper plant every third or...,FALSO,31.0,22.0,0.0,0.0,0.0,-14.0,Negativo,...,0.045455,0.318182,0.272727,0.000000,0.181818,0.090909,0.090909,0.045455,0.0,0.0
1,1136,how melting plastic waste could heat homes res...,VERDADE,34.0,22.0,0.0,0.0,0.0,-4.0,Negativo,...,0.045455,0.227273,0.045455,0.090909,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2,695,bill the butcher daniel daylewis takes a young...,FALSO,13.0,21.0,0.0,0.0,0.0,-3.0,Negativo,...,0.000000,0.047619,0.095238,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,3312,alan marsh an australian chook farmer successf...,VERDADE,30.0,23.0,0.0,0.0,0.0,-5.0,Negativo,...,0.000000,0.217391,0.000000,0.000000,0.043478,0.043478,0.000000,0.000000,0.0,0.0
4,1314,human eggs with potential to become fertilised...,VERDADE,28.0,22.0,0.0,0.0,0.0,-6.0,Negativo,...,0.000000,0.272727,0.045455,0.045455,0.000000,0.000000,0.000000,0.000000,0.0,0.0

## Normalizando os valores Gramticais e Emoções

In [54]:
dfn = df[[
    'POL_ABSOLUTO',
    'MAIUSCULAS',
    'EXCLAMA',
    'ASPAS',
    'pronoun',
    'ppron',
    'i',
    'we',
    'you',
    'shehe',
    'they',
    'ipron',
    'article',
    'prep',
    'auxverb',
    'adverb',
    'conj',
    'negate',
    'verb',
    'adj',
    'interrog',
    'affect',
    'posemo',
    'negemo',
    'anx',
    'anger',
    'sad']].copy()

names = dfn.columns

scaler = MinMaxScaler().fit(dfn)
#scaler = StandardScaler().fit(dfn)
dfn = scaler.transform(dfn)
dfn = pd.DataFrame(dfn, columns= names)  

dfn.head()

,POL_ABSOLUTO,MAIUSCULAS,EXCLAMA,ASPAS,pronoun,ppron,i,we,you,shehe,...,negate,verb,adj,interrog,affect,posemo,negemo,anx,anger,sad
0,0.526316,0.0,0.0,0.0,0.098011,0.120629,0.174242,0.0,0.0,0.000000,...,0.159091,0.332645,0.636364,0.000000,0.347107,0.212121,0.363636,0.348485,0.0,0.0
1,0.789474,0.0,0.0,0.0,0.032670,0.000000,0.000000,0.0,0.0,0.000000,...,0.159091,0.237603,0.106061,0.381818,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2,0.815789,0.0,0.0,0.0,0.034226,0.042125,0.000000,0.0,0.0,0.190476,...,0.000000,0.049784,0.222222,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,0.763158,0.0,0.0,0.0,0.062500,0.076923,0.000000,0.0,0.0,0.347826,...,0.000000,0.227273,0.000000,0.000000,0.083004,0.101449,0.000000,0.000000,0.0,0.0
4,0.736842,0.0,0.0,0.0,0.032670,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.285124,0.106061,0.190909,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [55]:
df['POL_ABSOLUTO'] = dfn['POL_ABSOLUTO']
df['MAIUSCULAS'] = dfn['MAIUSCULAS']
df['EXCLAMA'] = dfn['EXCLAMA']
df['ASPAS'] = dfn['ASPAS']
df['pronoun'] = dfn['pronoun']
df['ppron'] = dfn['ppron']
df['i'] = dfn['i']
df['we'] = dfn['we']
df['you'] = dfn['you']
df['shehe'] = dfn['shehe']
df['they'] = dfn['they']
df['ipron']= dfn['ipron']
df['article'] = dfn['article']
df['prep'] = dfn['prep']
df['auxverb'] = dfn['auxverb']
df['adverb'] = dfn['adverb']
df['conj'] = dfn['conj']
df['negate'] = dfn['negate']
df['verb'] = dfn['verb']
df['adj'] = dfn['adj']
df['interrog'] = dfn['interrog']
df['affect'] = dfn['affect']
df['posemo'] = dfn['posemo']
df['negemo'] = dfn['negemo']
df['anx'] = dfn['anx']
df['anger'] = dfn['anger']
df['sad'] = dfn['sad']

df.head()

,id,texto,rotulo,PALAVRAS,LETRAS,MAIUSCULAS,EXCLAMA,ASPAS,Score_Pol,POL,...,negate,verb,adj,interrog,affect,posemo,negemo,anx,anger,sad
0,53,i have a possessed pepper plant every third or...,FALSO,31.0,22.0,0.0,0.0,0.0,-14.0,Negativo,...,0.159091,0.332645,0.636364,0.000000,0.347107,0.212121,0.363636,0.348485,0.0,0.0
1,1136,how melting plastic waste could heat homes res...,VERDADE,34.0,22.0,0.0,0.0,0.0,-4.0,Negativo,...,0.159091,0.237603,0.106061,0.381818,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2,695,bill the butcher daniel daylewis takes a young...,FALSO,13.0,21.0,0.0,0.0,0.0,-3.0,Negativo,...,0.000000,0.049784,0.222222,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,3312,alan marsh an australian chook farmer successf...,VERDADE,30.0,23.0,0.0,0.0,0.0,-5.0,Negativo,...,0.000000,0.227273,0.000000,0.000000,0.083004,0.101449,0.000000,0.000000,0.0,0.0
4,1314,human eggs with potential to become fertilised...,VERDADE,28.0,22.0,0.0,0.0,0.0,-6.0,Negativo,...,0.000000,0.285124,0.106061,0.190909,0.000000,0.000000,0.000000,0.000000,0.0,0.0

## Grava o Dataset para usar nos Algoritmos de ML

In [56]:
df = df.drop('texto',axis=1)
df = df.drop('Score_Pol',axis=1)
df = df.drop('POL',axis=1)
df = df.drop('PALAVRAS',axis=1)
df = df.drop('LETRAS',axis=1)

#df.to_csv('datasets/ds_caption.csv', index=False) 
df.to_csv('datasets2/ds_caption_em.csv', index=False)